<%- include ("header") -%>
<h2>About</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor
  mauris vitae ante tincidunt, id ullamcorper quam ullamcorper. Ut dapibus
  vestibulum diam non iaculis. Etiam maximus nisl et nunc pretium pharetra.
  Mauris dignissim quam at eleifend bibendum. Duis sapien dui, luctus eu
  volutpat semper, tristique ut magna. Nulla ullamcorper sodales velit. Proin
  non blandit felis. Nunc at dapibus lacus, ac luctus purus. Aenean lacinia
  sapien ut magna auctor, id elementum quam semper. Quisque nec pellentesque
  turpis, vitae placerat dui. Aliquam porttitor, ligula vitae blandit
  scelerisque, ante ligula porta odio, sit amet porta arcu enim non neque.
  Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean aliquam
  magna quam, ut vestibulum nunc blandit et. Pellentesque magna urna, varius nec
  magna at, facilisis feugiat nunc. Quisque lacinia massa et ipsum tincidunt, in
  sollicitudin tortor vehicula.
</p>
<p>
  Donec volutpat magna sit amet leo mattis, a scelerisque purus ornare. In hac
  habitasse platea dictumst. Aliquam quis metus lobortis, semper felis a,
  imperdiet ipsum. Donec ornare aliquet sem, nec lobortis massa laoreet ac.
  Suspendisse vehicula tellus vitae lectus porttitor sodales. Mauris nec
  pulvinar diam. Nulla at enim vel tortor vulputate rhoncus. Suspendisse aliquet
  eleifend tortor, a commodo augue. Vivamus posuere tincidunt turpis, vel
  suscipit metus sagittis id. Nulla id ultrices dolor. Duis blandit nulla risus.
</p>
<%- include ("footer") -%>
