.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.navbar-nav a:hover {
  color: #1abc9c !important;
}

.navbar-nav-compose {
  color: purple !important;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #1abc9c;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}
